{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Placement Assistant</title>
	<link rel="icon" type="image/png" href="{% static 'companies/img/title.png' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="{% static 'companies/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'companies/css/glypicon.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light" >
<div class="container-fluid">
	<a class="navbar-brand" href="home.html"><img src="{% static 'companies/img/paypal.png' %}"></a>
	<span class="navbar-text mr-auto" >
      <h1>Placement Assistant</h1>Helping you to make the right move
    </span>
</div>
</nav>
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #e3f2fd;">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse"  id="navbarResponsive">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'companies' %}">Companies</a>
			</li>
			<!--<li class="nav-item">
				<a class="nav-link" href="#chatsupport">Chat Support</a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'recruitmentprocess' %}">Recruitment process</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://groups.google.com/forum/embed/?place=forum/help-community">Help-Community</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="http://127.0.0.1/chatapp/">Alumni-Support</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://www.facebook.com/groups/1973739946058630/">Social-Support</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#contact">Contact Us</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<a style="margin:10px;"href="#"><i class="glyphicon glyphicon-user"></i>{{ user.get_username }} </a>
			<a style="margin:10px;" href="{% url 'index' %}" ><i class="glyphicon glyphicon-log-in"></i> Logout</a>
    </ul>
	</div>
</div>
</nav>
<div class="container-fluid padding" style="background-color:#f2f2f2;">
	<div class="row text-center padding">
		<div class="col-12" style="background-color:#f2f2f2;">
			<h2 class="display-1" style="font-size:40px;">​Hindustan Petroleum Corporation Limited (HPCL)</h2>
		</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-12 offset-md-12 offset-sm-0">
		<h3 class="display-2" style="font-size:30px;">About Hindustan Petroleum Corporation Limited (HPCL): -</h3>
		<p style="font-family:serif;">
		HPCL owns & operates 2 major refineries producing a wide variety of petroleum fuels & specialties, one in Mumbai (West Coast) of 7.5 Million Metric Tonnes Per Annum (MMTPA) capacity and the other in Visakhapatnam, (East Coast) with a capacity of 8.3 MMTPA. HPCL also owns and operates the largest Lube Refinery in the country producing Lube Base Oils of international standards, with a capacity of 428 TMT. This Lube Refinery accounts for over 40% of the India's total Lube Base Oil production. HPCL in collaboration with M/s Mittal Energy Investments Pte. Ltd. is operating a 9 MMTPA capacity Refinery at Bathinda with 49% equity and also holds an equity of about 16.95% in the 15 MMTPA Mangalore Refinery and Petrochemicals Ltd. (MRPL).

<br><br>HPCL has the second largest share of product pipelines in India with a pipeline network of more than 3370 kms for transportation of petroleum products and a vast marketing network consisting of 21 Zonal offices in major cities and 128 Regional Offices facilitated by a Supply & Distribution infrastructure comprising Terminals, Pipeline networks, Aviation Service Stations, LPG Bottling Plants, Inland Relay Depots & Retail Outlets, Lube and LPG Distributorships.

<br><br>Consistent excellent performance has been made possible by highly motivated workforce of over 10,500 employees working all over India at its various refining and marketing locations.

<br><br>HPCL is committed to achieve the economic, ecological & social responsibility objectives of sustainable development consistently through varied operations and activities. HPCL’s focus areas are in the fields of Child Care, Education, Health Care, Skill Development & Community Development, touching lives of weaker section of society.
		</p>
		<h3 class="display-2" style="font-size:30px;">Selection Process : -​</h3>
		<p style="font-family:serif;">
		In case of job recruitment, selection is the process to choose potential working persons for a company or organization. Bharat Petroleum Corporation Limited (BPCL) Recruitment process includes a selection stage when decisions are made as to the viability of a particular candidate's job application. It directly affects the overall productivity of an organization. A right selection may increase the overall performance of a company & a wrong one may lead to material and financial loss. A perfect selection process can help to pick the most eligible candidates amongst all applicants. The Process of selecting candidates focuses on abilities, knowledge, skills, experience and various other related factors.
		</p>
		<h3 class="display-2" style="font-size:25px;">Stages of selection process to get recruited in Bharat Petroleum Corporation Limited (BPCL):​</h3>
		<p style="font-family:serif;">
		<ul style="margin-left:100px;">
			<li style="font-family:serif; font-size:18px;">Written Test</li>
			<li style="font-family:serif; font-size:18px;">GATE Exam​</li>
			<li style="font-family:serif; font-size:18px;">Group Discussion</li>
			<li style="font-family:serif; font-size:18px;">Bharat Petroleum Corporation Limited (BPCL) Interview Process</li>
		</ul>
		</p>
		<h3 class="display-2" style="font-size:25px;">Written Exam​</h3>
		<p style="font-family:serif;">
		<ul style="margin-left:100px;">
			 <li style="font-family:serif; font-size:18px;">Academic Criteria</li>
			 <ul>
			  <li style="font-family:serif; font-size:18px;">B.E / B.Tech.</li>
			  <li style="font-family:serif; font-size:18px;">Candidates should have passed their B.E. /B. Tech. in (CS/IT/ EE /EC) or MCA with 60% & above marks for PA post.</li>
			  <li style="font-family:serif; font-size:18px;">Candidates should not have more than 1 years gap in education.</li>
			 </ul>
			 <li style="font-family:serif; font-size:18px;">Test Pattern</li>
			 <div class="table-responsive">
			  <table class="table table-bordered" >
				<thead>
				  <tr class="active">
					<th style="text-align:center;">Testing Areas</th>
					<th style="text-align:center;">Number of Questions</th>
				  </tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">Aptitud</td>
						<td align="center">10</td>
					</tr>
					<tr class="active">
						<td align="center">Technical</td>
						<td align="center">55</td>
					</tr>
					<tr>
						<td align="center">Total</td>
						<td align="center">65</td>
					</tr>
				</tbody>
			  </table>
			</div>
			<li style="font-family:serif; font-size:18px;">Test Description</li>
			<ul>
			<li style="font-family:serif; font-size:18px;">The total time allotted to the written exam is 180 minutes. There is 1/3rd negative marking. Although, there is no negative marking in case of Numerical Ability Question.</li>
			<li style="font-family:serif; font-size:18px;">Aptitude section consists of questions based on data interpretation, graphs, blood relations, statement reasoning, etc. Also, There are questions from basic mathematics like time, speed & distance, algebra, arithmetic, probability, geometry, permutation & combination, etc. Further, there are questions from English language like grammar usage, fill in the blanks, etc.</li>
			<li style="font-family:serif; font-size:18px;">Technical section consists of questions from subjects of engineering. Overall the level of the paper is moderate to difficult. Only those candidates who clear the written exam will qualify for the next round.</li>
			</ul>
		</ul>
		<h3 class="display-2" style="font-size:25px;">Group Discussion</h3>
		<p style="font-family:serif;">
			<ul style="margin-left:100px;">
			<li style="font-family:serif; font-size:18px;">They will form a group of 12 to 14 people.</li>
			<li style="font-family:serif; font-size:18px;">They will give u a case study.</li>
			<li style="font-family:serif; font-size:18px;">Time alloted to read a case study is 5 mins.</li>
			<li style="font-family:serif; font-size:18px;">Then GD will be open for 10 to 12 mins.</li>
			</ul>
		</p>
		<h3 class="display-2" style="font-size:25px;"> Interview Process</h3>
		<p style="font-family:serif;">
		Hindustan Petroleum Corporation Limited (HPCL) Interview process consists of Technical Interview and HR Interview. Following are the details of each phase:
		<ul style="margin-left:100px;">
		<li style="font-family:serif; font-size:20px;">Technical interview</li>
		<p style="font-family:serif;">Questions related to specific technical fields are asked in this round. Questions may be based on specific knowledge about the company's technical activities; understanding of the technical work required to be completed as part of the job applied for or may enquire candidates to solve actual technical problems that they would be likely to face if employed.</p>
		<li style="font-family:serif; font-size:20px;">HR Interview</li>
		<p style="font-family:serif;">Final step to select a candidate as an employee is Interview as it helps to determine a candidate's personality. Questions can be of wide range starting from your introduction, Qualification, Experience, Industry specific experience, Courses done, your strengths and weaknesses, salary expectations, friends, family etc.</p>
		</ul>
		</p>
		<h3 class="display-2" style="font-size:25px;">Question Asked in Hindustan Petroleum Corporation Limited (HPCL):</h3>
		<ul style="margin-left:100px;">
		<li style="font-family:serif; font-size:20px;">The electromagnetic torque developed is proportional to what in a D.C series motor?</li>
		<li style="font-family:serif; font-size:20px;">What is the mechanical power developed in terms of air gap power Pg in a 3 phase induction motor running at slip ‘s’?</li>
		<li style="font-family:serif; font-size:20px;">What shall be the secondary output voltage if the primary winding of a 220/6V, 50 Hz transformer is energized by an 110V, 60 Hz supply?</li>
		<li style="font-family:serif; font-size:20px;">When the relative speed between the magnetic fields of stator and rotor does is zero under steady state operation?</li>
		<li style="font-family:serif; font-size:20px;">What will you use to achieve high power amplification?</li>
		<li style="font-family:serif; font-size:20px;">Why do we not use inductance in lag network? Explain in detail.</li>
		<li style="font-family:serif; font-size:20px;">Explain the method to keep noises low in a control system?</li>
		<li style="font-family:serif; font-size:20px;"><a href="https://gdpi.hitbullseye.com/HPCL-Interview-Questions.php">More>></a></li>
		</ul>
		<h3 class="display-2" style="font-size:25px;">Hindustan Petroleum Corporation Limited (HPCL) ALUMNI:</h3>
		<ol style="margin-left:100px;">
		<li style="font-family:serif; font-size:20px;">Gunasekaran C</li>
		</ol>
		<h3 class="display-2" style="font-size:20px;">To check more availability of information, the applicants can visit <a href="https://hindustanpetroleum.com/hpcareers/">https://hindustanpetroleum.com/hpcareers/</a> and gather information.</h3>
		<a href=""><button type="button" class="btn" style="font-size:17px;font-weight:500;color:#ffffff;background-color:#000000;">Take Test</button></a>

		</div>
	</div>
</div>
<div class="container padding">
	<div class="row">
		<div class="col-12">
			<div class="modal" id="login" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" style="font-family:serif;margin-left:195px;">Login</h4>
							<button class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
						<form>
							<div class="form-group required">
								<label for="email">Email:</label>
								<input type="email" class="form-control input-lg" name="email" placeholder="Email Address" required="required">
							</div>
							<div class="form-group required">
								<label for="pwd">Password:</label>
								<input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
							</div>
						</form>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success btn-lg mx-auto signup-btn" style="margin-top:0px;">Login</button>
						</div>
						<p>Don't have an account?<a href="signup.html">Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-center">
<hr class="light">
<a href="https://www.facebook.com/groups/1973739946058630/"><i class="fab fa-facebook" style='font-size:20px; margin:10px;color:#000066;'></i></a>
<a href="#"><i class="fab fa-twitter" style='font-size:20px; margin:10px;color:#0099ff;'></i></a>
<a href="#"><i class="fab fa-google-plus-g" style='font-size:20px; margin:10px;color:#ff4d4d;'></i></a>
<a href="#"><i class="fab fa-instagram" style='font-size:20px; margin:10px;color:#ff1a1a;'></i></a>
<h5>&copy;placementassistantteam@gmail.com</h5>
</div>
<div class="container padding">
	<div class="row">
		<div class="col-12">
			<div class="modal" id="chatsupport" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<iframe  allow="microphone;" width="550" height="550" src="https://console.dialogflow.com/api-client/demo/embedded/47eedbcf-2b66-4332-8483-1bea38f2b55c">
						</iframe>
					</div>
				</div>
			</div>
	</div>
</div>
</div>

<a href="#chatsupport" class="float" data-toggle="modal">
<i class="fa fa-comments my-float"></i>
</a>
</body>
