{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Placement Assistant</title>
	<link rel="icon" type="image/png" href="{% static 'companies/img/title.png' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="{% static 'companies/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'companies/css/glypicon.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light" >
<div class="container-fluid">
	<a class="navbar-brand" href="home.html"><img src="{% static 'companies/img/paypal.png' %}"></a>
	<span class="navbar-text mr-auto" >
      <h1>Placement Assistant</h1>Helping you to make the right move
    </span>
</div>
</nav>
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #e3f2fd;">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse"  id="navbarResponsive">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'companies' %}">Companies</a>
			</li>
			<!--<li class="nav-item">
				<a class="nav-link" href="#chatsupport">Chat Support</a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'recruitmentprocess' %}">Recruitment process</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://groups.google.com/forum/embed/?place=forum/help-community">Help-Community</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://www.facebook.com/groups/1973739946058630/">Alumni-Support</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#contact">Contact Us</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<a style="margin:10px;"href="#"><i class="glyphicon glyphicon-user"></i>{{ user.get_username }} </a>
			<a style="margin:10px;" href="{% url 'index' %}" ><i class="glyphicon glyphicon-log-in"></i> Logout</a>
    </ul>
	</div>
</div>
</nav>
<div class="container-fluid padding" style="background-color:#f2f2f2;">
	<div class="row text-center padding">
		<div class="col-12" style="background-color:#f2f2f2;">
			<h2 class="display-1" style="font-size:40px;">​HP</h2>
		</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-12 offset-md-12 offset-sm-0">
		<h3 class="display-2" style="font-size:30px;">About HP: -</h3>
		<p style="font-family:serif;">
		Hewlett Packard (commonly known as HP), is a multinational hardware manufacturer that provides software and IT consultation services too. The 78 year old company initially resided in a car garage but now has clients from all over the world. The company is head quartered in Palo Alto, California, US and employs about 315,000 people worldwide.
		</p>
		<h3 class="display-2" style="font-size:30px;">Selection Process : -​</h3>
		<p style="font-family:serif;">
		In case of job recruitment, selection is the process to choose potential working persons for a company or organization. HP Recruitment process includes a selection stage when decisions are made as to the viability of a particular candidate's job application. It directly affects the overall productivity of an organization. A right selection may increase the overall performance of a company & a wrong one may lead to material and financial loss. A perfect selection process can help to pick the most eligible candidates amongst all applicants. The Process of selecting candidates focuses on abilities, knowledge, skills, experience and various other related factors.
		</p>
		<h3 class="display-2" style="font-size:25px;">Stages of selection process to get recruited in Infosys:​</h3>
		<p style="font-family:serif;">
		<ul style="margin-left:100px;">
			<li style="font-family:serif; font-size:18px;">Written Exam​</li>
			<li style="font-family:serif; font-size:18px;">Interview Process</li>
			<li style="font-family:serif; font-size:18px;">Group Discussion</li>
		</ul>
		</p>
		<h3 class="display-2" style="font-size:25px;">Written Exam​</h3>
		<p style="font-family:serif;">
		<ul style="margin-left:100px;">
			 <li style="font-family:serif; font-size:18px;">Academic Criteria</li>
			 <ul>
			  <li style="font-family:serif; font-size:18px;">A candidate must have more than 60% marks in 10th and 12th (or diploma).</li>
			  <li style="font-family:serif; font-size:18px;">A candidate must have a minimum of 60% marks in graduation.</li>
			  <li style="font-family:serif; font-size:18px;">A maximum gap of 1 year is permissible throughout the entire education.</li>
			  <li style="font-family:serif; font-size:18px;">A candidate should not have any pending backlogs at the time of appearing for HP selection process.</li>
			  </ul>
			 <li style="font-family:serif; font-size:18px;">Test Pattern</li>
			 <div class="table-responsive">
			  <table class="table table-bordered" >
				<thead>
				  <tr class="active">
					<th style="text-align:center;">Testing Areas</th>
					<th style="text-align:center;">Number of Questions</th>
					<th style="text-align:center;">Time(in mins)</th>
				  </tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">Aptitude</td>
						<td align="center">50</td>
						<td align="center">N/A</td>
					</tr>
					<tr class="active">
						<td align="center">Technical</td>
						<td align="center">10</td>
						<td align="center">N/A</td>
					</tr>
					<tr>
						<td align="center">Programming</td>
						<td align="center">30</td>
						<td align="center">N/A</td>
					</tr>
					<tr>
						<td align="center">Total</td>
						<td align="center">90</td>
						<td align="center">N/A</td>
					</tr>
				</tbody>
			  </table>
			</div>
			<li style="font-family:serif; font-size:18px;">Test Description</li>
			<p style="font-family:serif;margin-left:0px;">The written exam has 0.25 negative marks for each wrong answer and is conducted to test the following skills:</p>
			<ul>
			<li style="font-family:serif; font-size:18px;">Vocabulary:   The Candidate can expect questions on phrasing, sentence completion and comprehension of passages are posted here.</li>
			<li style="font-family:serif; font-size:18px;">Analytical Ability:    This section focuses on data interpretation and logical reasoning. Most of the questions are based on puzzles, blood relations, statements & arguments, coding-decoding, data sufficiency, and pattern recognition.</li>
			<li style="font-family:serif; font-size:18px;">Quantitative Ability:    The questions of this section will cover the following topics: algebra, time, speed, and distance, percentages, profit & loss, and probability. This section is moderate with respect to difficulty levels.</li>
			<li style="font-family:serif; font-size:18px;">Programming:    It has questions based on Computer concepts and C language. This section is tough and requires thorough preparation. You need to good at the basics of C language to get through this section.</li>
			</ul>
		</ul>
		</p>
		<h3 class="display-2" style="font-size:25px;"> Interview Process</h3>
		<p style="font-family:serif;">
		HP Interview process consists of Technical Interview and HR Interview. Following are the details of each phase:
		<ul style="margin-left:100px;">
		<li style="font-family:serif; font-size:20px;">Technical interview</li>
		<p style="font-family:serif;">Questions related to specific technical fields are asked in this round. Questions may be based on specific knowledge about the company's technical activities; understanding of the technical work required to be completed as part of the job applied for or may enquire candidates to solve actual technical problems that they would be likely to face if employed.</p>
		<li style="font-family:serif; font-size:20px;">HR Interview</li>
		<p style="font-family:serif;">Final step to select a candidate as an employee is Interview as it helps to determine a candidate's personality. Questions can be of wide range starting from your introduction, Qualification, Experience, Industry specific experience, Courses done, your strengths and weaknesses, salary expectations, friends, family etc.</p>
		</ul>
		</p>
		<h3 class="display-2" style="font-size:25px;">Question Asked in HP:</h3>
		<ul style="margin-left:100px;">
		<li style="font-family:serif; font-size:20px;"> Tell me about Yourself</li>
		<li style="font-family:serif; font-size:20px;">Why HP ?</li>
		<li style="font-family:serif; font-size:20px;">How you see yourself after five years from now ?</li>
		<li style="font-family:serif; font-size:20px;">What are your strengths and weaknesses ?</li>
		<li style="font-family:serif; font-size:20px;"> What are your failures?</li>
		<li style="font-family:serif; font-size:20px;">Any plan for higher studies?</li>
		<li style="font-family:serif; font-size:20px;">Questions form resume</li>
		<li style="font-family:serif; font-size:20px;"><a href="https://www.geeksforgeeks.org/tag/hp/">More>></a></li>
		</ul>
		<h3 class="display-2" style="font-size:25px;">HP ALUMNI:</h3>
		<ol style="margin-left:100px;">
		<li style="font-family:serif; font-size:20px;">Venkata Thulasi B</li>
		<li style="font-family:serif; font-size:20px;">Ravindran Ramadoss</li>
		</ol>
		<h3 class="display-2" style="font-size:20px;">To check more availability of information, the applicants can visit <a href="https://www.hpe.com/in/en/about/jobs.html">https://www.hpe.com/in/en/about/jobs.html</a> and gather information.</h3>
		<a href="https://www.prep.youth4work.com/Placement-Papers/HP-Test"><button type="button" class="btn" style="font-size:17px;font-weight:500;color:#ffffff;background-color:#000000;">Take Test</button></a>
		
		</div>
	</div>
</div>
<div class="container padding">
	<div class="row">
		<div class="col-12">
			<div class="modal" id="login" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" style="font-family:serif;margin-left:195px;">Login</h4>
							<button class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
						<form>
							<div class="form-group required">
								<label for="email">Email:</label>
								<input type="email" class="form-control input-lg" name="email" placeholder="Email Address" required="required">
							</div>
							<div class="form-group required">
								<label for="pwd">Password:</label>
								<input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
							</div>
						</form>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success btn-lg mx-auto signup-btn" style="margin-top:0px;">Login</button>	
						</div>
						<p>Don't have an account?<a href="signup.html">Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-center">
<hr class="light">
<a href="#"><i class="fab fa-facebook" style='font-size:20px; margin:10px;color:#000066;'></i></a>
<a href="#"><i class="fab fa-twitter" style='font-size:20px; margin:10px;color:#0099ff;'></i></a>
<a href="#"><i class="fab fa-google-plus-g" style='font-size:20px; margin:10px;color:#ff4d4d;'></i></a>
<a href="#"><i class="fab fa-instagram" style='font-size:20px; margin:10px;color:#ff1a1a;'></i></a>
<h5>&copy;placementassistantteam@gmail.com</h5>
</div>


<div class="container padding">
	<div class="row">
		<div class="col-12">
			<div class="modal" id="chatsupport" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<iframe  allow="microphone;" width="550" height="550" src="https://console.dialogflow.com/api-client/demo/embedded/47eedbcf-2b66-4332-8483-1bea38f2b55c">
						</iframe>
					</div>
				</div>
			</div>
	</div>
</div>
</div>

<a href="#chatsupport" class="float" data-toggle="modal">
<i class="fa fa-comments my-float"></i>
</a>
</body>
