<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Placement Assistant</title>
	<link rel="icon" type="image/png" href="img/title.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/glypicon.css"
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light" >
<div class="container-fluid">
	<a class="navbar-brand" href="home.html"><img src="img/paypal.png"></a>
	<span class="navbar-text mr-auto" >
      <h1>Placement Assistant</h1>Helping you make the right move
    </span>
</div>
</nav>
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #e3f2fd;">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse"  id="navbarResponsive">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="home.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="companies.html">Companies</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="softwareco.html">Software Companies</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="recruitmentpro.html">Recruitment process</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#contact">Contact Us</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<a style="margin:10px;" href="signup.html"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
		<a style="margin:10px;" href="#login" data-toggle="modal"><i class="glyphicon glyphicon-log-in"></i> Login</a>
    </ul>
	</div>
</div>
</nav>
<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="img/placement3.jpg" style="opacity:0.8;">
			<div class="carousel-caption" style="margin-bottom:250px;">
				<h1 class="display-2">Placement Assistant</h1>
				<h3> Working With You</h3>
				<p>Welcome! I provide all the tools, guidance, and support my clients need to succeed in their respective markets.
				   Take a look around and explore the various services I offer, the clients that I’ve partnered with, and samples of my work.
				</p>
				<a href="#"><button type="button" class="btn" style="font-size:17px;font-weight:500;color:#ffffff;background-color:#000000;">Get in Touch</button></a>
			</div>
		</div>
	</div>
</div>

<div id="about" class="container-fluid" style="background-color:#ffcccc;padding:100px;">
	<div class="row no-gutters">
		<div class="col-12 col-sm-6 col-md-6">
			<h2>About</h2>
			<h3>My Story</h3>
			<p>How many times were you frustrated while looking out for a good collection of programming/algorithm/interview quest	ions?
			   What did you expect and what did you get?
			   This portal has been created to provide well written, well thought and well explained solutions for selected questions.
			   We have been working as a Placement Assistant since 2000.
			</p>
			<a href="#"><button type="button" class="btn">Learn More</button></a>
		</div>
		<div class="col-6 col-md-4">
		<img src="img/team3.png" class="img-fluid" alt="Responsive image">
		</div>
	</div>
</div>

<div class="container-fluid padding" style="background-color:#000000;padding:200px">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4" style="color:#ffffff;margin-left:80px;font-family:'Georgia', serif;">Services</h1>
	</div>
	<div class="col-12">
		<p class="display-5" style="color:#ffffff;">Procedure,Training,Practice,Assistance</p>
	</div>
	<div class="col-12">
		<p style="color:#ffffff;">I work with clients, providing exceptional consulting services that are catered specifically to their needs.
						Take a look below at the services I offer and get in touch to achieve immediate results.</p>
	</div>
</div>	
</div>
<div class="container-fluid text-center padding" style="padding-top:100px;padding-bottom:100px;">
  <div class="row text-center padding">
    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
      <span class="glyphicon glyphicon-star-empty"></span>
	  <h1 style="padding-top:50px;font-family:'Georgia', serif;font-size:35px;">Placement Training Support</h1>
	  <h3 style="padding-top:50px;margin-left:0px;">Learn placement process of different MNCs</h3>
	  <p style="margin-left:0px;">My services are customized to meet the specific needs of each client. 
	     I work collaboratively throughout the entire process and guarantee measurable results. 
		 Contact me to find out how I can help today.
		</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
      <span class="glyphicon glyphicon-star-empty"></span>
	  <h1 style="padding-top:50px;font-family:'Georgia', serif;font-size:35px;">Practice & Test Support</h1>
	  <h3 style="padding-top:50px;margin-left:0px;">Practice makes perfect</h3>
	  <P style="margin-left:0px;">Do you have a project or idea that you’d love to bring to life? Since founding my business, I’ve provided my clients with a wide range of consulting services such as this one. To find out more, get in touch.
		</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-3">
      <span class="glyphicon glyphicon-star-empty"></span>
	  <h1 style="padding-top:50px;font-family:'Georgia', serif;font-size:35px;">Real time assistance from company Employee</h1>
	  <h3 style="padding-top:50px;margin-left:0px;">Get Everthing from the right person</h3>
	  <P style="margin-left:0px;">My clients are my number one priority, and my services prove just how committed I am to their success. Book an introductory meeting today to learn more about how I can make your business thrive.
		</p>
    </div>
	<div class="col-12 col-sm-12 col-md-6 col-xl-3">
      <span class="glyphicon glyphicon-star-empty"></span>
	  <h1 style="padding-top:50px;font-family:'Georgia', serif;font-size:35px;">Get company info</h1>
	  <h3 style="padding-top:50px;margin-left:0px;">Get in touch about comapanies</h3>
	  <P style="margin-left:0px;">A company, abbreviated as co., is a legal entity made up of an association of people, be they natural, legal, or a mixture of both, for carrying on a commercial or industrial enterprise.
		</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center padding" style="padding-top:100px;padding-bottom:100px;background-color:#dedede">
  <h1 class="text-xs-center" style="font-size:50px;font-family:'Georgia', serif;">Testimonials</h1>
  <h1 class="text-xs-center" style="font-size:20px;padding-top:50px;padding-bottom:30px;">What’s Being Said</h1>
  <p class="text-xs-center" style="color:#000000;margin:2px;">At Placement Assistant, I know what exceptional customer services means, and I go the extra mile to make sure my clients reach their</p>
  <p class="text-xs-center" style="color:#000000;margin:2px;">goals. For many years, I’ve helped my clients transform their lives thanks to my consulting services, and I’m so proud to see them on the </p> 
  <p class="text-xs-center" style="color:#000000;">path toward success. See what my satisfied customers are saying and get in touch with me today.</p>
  <a href="#"><button type="button" class="btn">Get in Touch</button></a>
  <div class="row text-center padding" style="padding:100px;">
    <div class="col-12 col-sm-12 col-md-6 col-xl-4">
      <i class='fas fa-quote-right' style='font-size:36px'></i>
	  <p class="text-xs-center" style="color:#000000;">Look at the sky. We are not alone. The whole universe is friendly to us and conspires only to give the best to those who dream and work.</p>
	  <h3 style="padding-top:30px;margin-left:150px;">-A. P. J. Abdul Kalam</h3>
	</div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-4">
      <i class='fas fa-quote-right' style='font-size:36px'></i>
	  <p class="text-xs-center" style="color:#000000;">I am not bound to win, but I am bound to be true. I am not bound to succeed, but I am bound to live by the light that I have. I must stand with anybody that stands right, and stand with him while he is right, and part with him when he goes wrong.</p>
      <h3 style="padding-top:30px;margin-left:150px;"> -Abraham Lincoln</h3>
	</div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-4">
      <i class='fas fa-quote-right' style='font-size:36px'></i>
	  <p class="text-xs-center" style="color:#000000;">Be not afraid of greatness: some are born great, some achieve greatness, and some have greatness thrust upon them.</p>
      <h3 style="padding-top:30px;margin-left:150px;">-William Shakespeare</h3>
	</div>
  </div>
</div>
<div class="container-fluid padding" id="contact" style="background-color:#ffcccc;padding:100px;">
	<div class="row text-center padding">
		<div class="col-12 col-sm-12 col-md-6 col-xl-6 social padding">
			<h1>Contact Me</h1>
			<p>We offer Offline Placement Training also at our Kochi center . If you are interested in our Offline training session, feel free to contact us.</p>
			<P>Kochi, Kerala, India</p>
			<a href="#"><p>placementassistantteam@gmail.com</p></a>
			<a href="#"><i class="fab fa-facebook" style='font-size:36px; margin:10px;color:#000066;'></i></a>
			<a href="#"><i class="fab fa-twitter" style='font-size:36px; margin:10px;color:#0099ff;'></i></a>
			<a href="#"><i class="fab fa-google-plus-g" style='font-size:36px; margin:10px;color:#ff4d4d;'></i></a>
			<a href="#"><i class="fab fa-instagram" style='font-size:36px; margin:10px;color:#ff1a1a;'></i></a>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-xl-6">
			   <div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="Name*" >
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" placeholder="Email*">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="phone" placeholder="Phone">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="address" placeholder="Address">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="subject" placeholder="Subject">
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="5" id="comment" placeholder="  Comments"></textarea>
				</div>
				<a href="#" class="btn btn-primary" style="background-color:#000000;">Submit</a>
		</div>
	</div>
</div>
<footer>
	<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-md-4">
			<img src="img/logo.jpg" width="300px" height="60px">
			<hr class="light">
			<p>+91-7012672108</p>
			<p>placementassistantteam@gmail.com</p>
			<p>CUSAT</p>
			<p>Kochi,Kerala,682022</p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5>Our Hours</h5>
			<hr class="light">
			<p>Monday-Friday: 9am-5pm</p>
			<p>Saturday: 10am-4pm</p>
			<p>Sunday: Closed</p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5>Services Available</h5>
			<hr class="light">
			<p>Kochi,Kerala,682022</p>
			<p>Patna,Bihar,800002</p>
			<p>Ranchi,Jharkhand,834001</p>
		</div>
		<div class="col-12">
			<hr class="light">
			<h5>&copy;placementassistantteam@gmail.com</h5>
		</div>
		
	</div>
	</div>
</footer>
<div class="container padding">
	<div class="row">
		<div class="col-12">
			<div class="modal" id="login" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" style="font-family:serif;margin-left:195px;">Login</h4>
							<button class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
						<form>
							<div class="form-group required">
								<label for="email">Email:</label>
								<input type="email" class="form-control input-lg" name="email" placeholder="Email Address" required="required">
							</div>
							<div class="form-group required">
								<label for="pwd">Password:</label>
								<input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
							</div>
						</form>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success btn-lg signup-btn mx-auto" style="margin-top:0px;">Login</button>	
						</div>
						<p>Don't have an account?<a href="signup.html">Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>









 


